<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Founder's Journey X KAYAK Rules
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../assets/images/favicon.ico" rel="shortcut icon">
	<link href="../assets/images/favicon.png" rel="icon" type="image/png">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="../assets/css/default.css" rel="stylesheet">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37186377-1']);
	  _gaq.push(['_setDomainName', 'herokuapp.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body class="bg-black">
<div class="container">
	<div class="row pagination-centered">
		<div class="offset2"></div>
	<div class="span8 offset2">
		<header>
			<div class="row">
				<div class="span4"><a href="http://web.mit.edu/founders/www/details.html"><img src="./assets/images/fj_logo.png" /></a></div>
				<div class="span3"><h1>2012-2013 Crowd Funding Competition</h1></div>
			</div>
			<div class="row top-padded">
				<div class="span4 v-center"><h1><a class="btn" href="/">Leaderboard</a></h1></div>
				<div class="span4 ">
				</div>
			</div>
		</header>

		<div class="row">
		<div class="span6 offset1 content">
			<div class="v-center"><h3> About </h3></div>
			<div >
				<p>The Founder's Journey contest is aimed at encouraging entrepreneurship and innovation for students through crowd funding projects. Please contact <a href="mailto:fjcontest2013@mit.edu">fjcontest2013@mit.edu</a> if you need to get in touch with the organizers.</p>
			</div>
			<div class="spacer"> </div>
			<div class="v-center">
				<h3> Rules </h3>
			</div>
			<div class="row rules">
				<div class="span6">
				<p>
					<ul>
						<li>Each team is allowed exactly one submission to the crowdfunding platform (Kickstarter or Indiegogo) of their choice. The last date for going live is January 15, 2013 in order to be eligible for the prize pot.</li>
						<li>The total prize money pot is $3002 and prizes will be announced on February 5, 2012.</li>
						<li>Teams are not allowed to directly contribute to or subsisize contributions to their projectsin any way.</li>
						<li>The winners are determined by the following criteria:
							<ul>
								<li>All teams are ranked in descending order of the total funds they raise during the duration of the contest.</li>
								<li>In descending order, each team gets a % of the pot equal to the % of their goal met until the pot runs out.</li>
							</ul>
						</li>
					</ul>
				</p>
				</div>
			</div>
			<div class="spacer"> </div>
			<div class="v-center">
				<h3> Submission Form </h3>
			</div>
			<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFkwNE05cG5NMWFUaUdjaXpmYUw2Zmc6MQ" width="550" height="720" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>		
		</div>
	</div>
	</div>
</div>
</body>
</html>
